@keyframes fade-text {
    0%   {color:rgba(217, 38, 38, 0); text-shadow: 2px 2px rgba(217, 38, 38, 0);opacity: 0;}
    100% {color:rgb(255, 255, 255); text-shadow: 2px 2px rgba(0, 0, 0, 1);opacity: 1;}
}
@keyframes fade-button {
    0%   {opacity: 0; }
    100% {opacity: 1; }
}
@keyframes fade-img {
    0%   {opacity: 0; }
    100% {opacity: 1; }
}

.animationHolder{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, rgba(247,200,200,1) 20%, rgba(233,125,125,0.4) 50%, rgba(217,38,38,0.8) 80%);
    display: flex;
    position: absolute;
    z-index: 1999;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.main-text-animation{
    animation-name: fade-text;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}
.secondary-text-animation{
    animation-name: fade-text;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    color:rgba(217, 38, 38, 0);
    text-align: center;
    padding: 0 24px;
}
.secondary-text-animation img{
    display: block;
    animation-name: fade-img;
    animation-duration: 2s;
    animation-delay: 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;

}
.button-text-animation{
    animation-name: fade-button ;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    color:rgba(217, 38, 38, 0);
}
.button-text-animation button{
    background: linear-gradient(180deg, #159038 0%, #2DC457 100%)!important;
    border: none;
}
@media (max-width:479px){
    .secondary-text-animation img {
        display:none;
    }
}
