
:root {
    --bg-footer: #D64040;
    --color-footer:#ffffff;
}

footer {
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-footer);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);

}
footer main-footer{
    display: flex; 
    align-items: center;
    justify-content: space-between;    
    flex-direction: row;
    height: 100px;
    padding: 0.5rem 1rem;
}

footer nav a {
    font-size: 24px;
    margin-left: 30px;
}

footer img {
    width: auto;
    height: 50px;
    filter: grayscale(100%);
    transition: all 0.5s ease;
    margin-right: 16px;

}

footer a {
    color: var(--color-footer);
    font-size: 32px;

}

footer a:hover {
    color: var(--color-footer);
    text-decoration: none;
}

footer img:hover {
    filter: grayscale(0%);
}

.logo {
    align-items: center;
    justify-content: space-around;
    font-weight: 300;
    display: flex;
}
@media (max-width:766px) {
    .logo strong,.logo div {
        display: none;
    }
}